.page{
  width: 720px;
  max-width: calc(100vw-20px);
  margin: 0 auto;
  padding: 10px;
  min-height:50vh;
}
.article h3{
	font-size: 14px;
}
.article p{
	font-size: 12px;
}
.article {
	margin: 5px;
	padding: 10px;
	background-color: #eee;
}

.classifier article {
  width: 60%;
  float: left;
}

.classifier .widget {
  width: 40%;
  float: right;
}
